<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Yahoo Answers Randomizer</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
  </head>
  <body>
    <section class="h-100">
      <div class="row h-100 justify-content-center align-items-center">
        <div>
          <div class="card text-center">
            <div class="card-header">
              CapnSammeh Presents...
            </div>
            <div class="card-body">
              <h1 class="card-title">Yahoo Answers Randomizer</h1>
              <a onclick="location.reload()" class="btn btn-primary" href=<%= url %> target="_blank">New Answer</a>
            </div>
            <div class="card-footer">
              <button class="btn btn-outline-light text-dark" href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet"><a class="bmc-button" target="_blank" href="https://www.buymeacoffee.com/CapnSammeh"><img src="https://bmc-cdn.nyc3.digitaloceanspaces.com/BMC-button-images/BMC-btn-logo.svg" alt="Buy me a Beer"><span style="margin-left:5px">Buy me a Beer</span></button>
            </div>
        </div>
      </div>
    </div>
  </section>

</body>
</html>
